.wrapper {
  background-color: #f891a3;
  width: 80vw;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  align-content: center;
  text-align: center;
}

header,
footer {
  background-color: #82f0f0;
  align-content: center;
  margin: 0 auto 0 auto;
  padding: 0.5rem;
}

h1 {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  display: flexbox;
  margin: 0;
}

.div__middle {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  justify-content: space-between;
}
aside {
  background-color: #66afaf;
  align-content: center;
  width: 30%;
  height: 50vh;
}

article {
  background-color: #e96379;
  width: 70%;
  align-content: end;
}

img {
  display: inline-block;
  background-color: #e7cbd0;
  width: 25%;
  aspect-ratio: 1/1;
  align-content: center;
  color: #ffffff;
  margin: 0.5rem;
}
